h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body       
        li Determinar la pre-factibilidad del proyecto de acuerdo con el diseño metodológico y necesidades de la empresa.
.card.resultado-item
    .card-body  
        li Formular proyecto de acuerdo con técnicas y metodologías de investigación.

        





