h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas      
                    +navTemaItem('text', 'Introducci칩n', 'main.html#page/introduccion/')            
                    +navTemaItem('1', 'Generalidades del enfoque de marco l칩gico', 'main.html#page/generalidades_marco_logico/') 
                    +navTemaItem('2', 'Etapa de an치lisis', 'main.html#page/etapa_analisis/') 
                    +navTemaItem('3', 'Etapa de planificaci칩n', 'main.html#page/etapa_planificacion/')                  