.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody
                                  
                tr
                    td Dussán. (2021). Canal en YouTube sobre gestión agropecuaria.
                    td Video
                    td 
                        a(href="https://www.youtube.com/channel/UCRGTHrhfZoFaEy23nhvy9KA", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver  
                tr
                    td SENA. (2020). Cartilla resumen marco lógico para formulación de proyectos. SENA.
                    td Manual
                    td 
                        a(href="media/documentos/CEPAL-2011.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver