.container#tema_3

    .header-ecored
      h1 3. Etapa de planificación

    .jumbotron.bg-white       
      .row.mb-5 
        .col-12 
          img(src="assets/images/pages/tema_3/img_3_01.jpg", alt="", style="width:100%;")

      .tarjeta.tarjeta--neutro_03.mb-5
        .row.justify-content-center.align-items-center
          .col-auto.mb-4.mb-lg-0
            img(src="assets/images/pages/tema_3/icon_3_01.svg", alt="", style="width:120px;")
          .col-12.col-lg 
            p.mb-0 La etapa de análisis debe brindar todos los insumos necesarios y de la calidad adecuada, para que la etapa de planificación arroje los lineamientos que en gran medida, aportarán a la formulación más acertada del proyecto y por tanto al éxito de la intervención. 

      p.text-center.mb-5 #[strong Las partes que componen la etapa de planificación son al menos cuatro:] 

      .row.justify-content-center.mb-5 
        .col-10.col-lg-6.mb-4
          .tarjeta.tarjeta--iconoIzquierda.tarjeta--neutro_01
            .tarjeta__icono
              img(src="assets/images/pages/tema_3/icon_3_02.svg", alt="") 
            .tarjeta__texto 
              h2.mb-2 01
              p.mb-0 Análisis de alternativas
        .col-10.col-lg-6.mb-4
          .tarjeta.tarjeta--iconoIzquierda.tarjeta--neutro_01
            .tarjeta__icono
              img(src="assets/images/pages/tema_3/icon_3_03.svg", alt="") 
            .tarjeta__texto 
              h2.mb-2 02
              p.mb-0 Diseño de los indicadores y medios de verificación
        .col-10.col-lg-6.mb-4
          .tarjeta.tarjeta--iconoIzquierda.tarjeta--neutro_01
            .tarjeta__icono
              img(src="assets/images/pages/tema_3/icon_3_04.svg", alt="") 
            .tarjeta__texto 
              h2.mb-2 03
              p.mb-0 Establecimiento de los supuestos 
        .col-10.col-lg-6.mb-4
          .tarjeta.tarjeta--iconoIzquierda.tarjeta--neutro_01
            .tarjeta__icono
              img(src="assets/images/pages/tema_3/icon_3_05.svg", alt="") 
            .tarjeta__texto 
              h2.mb-2 04
              p.mb-0 Construcción de la matriz de marco lógico

      p.mb-5 Además, es muy recomendable, así como en la etapa de análisis, incluir de ser necesario métodos que faciliten el tránsito entre herramientas, como puede ser el análisis de riesgos, la redacción de la estructura analítica (que se obvia aquí por fines prácticos), las herramientas de validación de indicadores, medios de verificación y supuestos del proyecto.

      .hr-divider.my-5

      .row
        .col-12.mb-4#tema_3_1
          h2(style="color:#00838F") 3.1 Análisis de alternativas

      .tarjeta.tarjeta--borde.mb-5 
        .row.align-items-center 
          .col-12.col-lg-auto.mb-5.mb-lg-0 
            img(src="assets/images/pages/tema_3/icon_3_1_01.svg", alt="", style="width:90px; display:block; margin:0 auto;")
          .col-lg 
            p.mb-0 Las alternativas de solución del problema central pueden ser contempladas desde el nivel de incidencia de los distintos medios (objetivos específicos y más adelante componentes del proyecto) pues todos no tendrán el mismo impacto y dependiendo de este análisis se determinará si todos son necesarios o si algunos serán suficientes para generar el resultado deseado. 

      p.mb-5 Esto significa que existen varias alternativas de solución que en la gráfica del árbol de objetivos pueden verse como los caminos que desde las raíces nos llevan a las copas del árbol; por tanto, a mayor complejidad del árbol, mayor número de alternativas. Aquí intervienen las condiciones preestablecidas para la realización del proyecto (tiempos, recursos, alcance, etc.) los resultados del análisis del entorno y de información secundaria (incluso el marco legal pertinente) de la información del diagnóstico, análisis de involucrados y de problemas, y de toda la información recolectada anteriormente. 

      .tarjeta.tarjeta--neutro_03.mb-5
        .row.justify-content-center
          .col-12.col-lg-10.mb-5 
            .tarjeta.tarjeta--iconoDerecha       
              .tarjeta__texto 
                h2.mb-2 El primer paso
                p.mb-0 El planteamiento de las acciones generadoras para las condiciones que denominamos actividades (tercer nivel) de los productos o resultados (segundo nivel) y de los medios (primer nivel, correspondientes a los objetivos específicos y más adelante a los componentes del proyecto). 
              .tarjeta__icono
                img(src="assets/images/pages/tema_3/icon_3_1_02.svg", alt="") 
          .col-12.col-lg-10   
            .tarjeta.tarjeta--iconoDerecha     
              .tarjeta__texto 
                h2.mb-2 El segundo paso
                p.mb-0 La estructuración de las alternativas. Una alternativa resulta de la conjunción de varias actividades. El número de alternativas resultantes depende de qué tan compatibles son los medios (objetivos específicos) productos y actividades entre sí. Puede suceder que las actividades sean perfectamente compatibles, a esto se les denomina complementarias o conjuntivas; pero también puede ser que algunas no lo sean, en este caso formarían otra alternativa y a estas actividades se les denomina excluyentes o disyuntivas. 
              .tarjeta__icono
                img(src="assets/images/pages/tema_3/icon_3_1_03.svg", alt="") 

      p.mb-5 Siguiendo con el ejemplo de referencia, las alternativas se encuentran expresadas como acciones de intervención agrupadas de acuerdo a la compatibilidad entre ellas y por cada uno de los objetivos. Las letras C y E a la derecha, significan complementarias y excluyentes:

      .overflow-X.mb-5
        .tarjeta.tarjeta--neutro_03.mb-3
          h3.mb-0.text-center Aumentar el aprovechamiento de los residuos sólidos domiciliarios de la zona urbana del municipio XXX, del departamento de XXX 
        table.tabla(style="--table-size:1050px")
          thead.tabla-encabezado
            tr
              th Objetivos específicos
              th Acciones de intervención posibles
              th Tipo
          tbody.tabla-cuerpo
            tr
              td(style="background-color: #ddd;", rowspan='2') 1. Mejorar las prácticas de separación de materiales
              td #[strong Separación en la fuente:]                 
                p.mt-3 1. Campañas de sensibilización (puerta a puerta, PRAEs, PROCEDA).
                p 2. Reglamentación e implementación de incentivos y sanciones.
              td.text-center C
            tr
              td #[strong Separación recoleccion:]
                p.mt-3 1. Campañas de sensibilización (puerta a puerta, PRAEs, PROCEDA).
                p 3. Adecuación de rutas según días definidos por tipo de material.
                p 4. Implementación de rutas selectivas utilizando vehículos recolectores con compartimientos mixtos.
                p 5. Recolección realizada por recuperadores en vehículos de tracción animal.
              td.text-center E
            tr
              td(style="background-color: #ccc;") 2. Implementar espacios eficientes para la valorización de residuos sólidos
              td #[strong Infraestructura:]
                p.mt-3 6. Construcción y dotación de estación de aprovechamiento (orgánicos e inorgánicos)
                p 7. Construcción de planta incinerada (de residuos orgánicos) para generación de energía
              td.text-center E

      .row.justify-content-center
        .col-12
          img(src="assets/images/pages/tema_3/info_3_1_01.svg", alt="", style="max-width:550px; display:block; margin:0 auto;")

      .hr-divider.my-5

      p Como tercer paso los autores de la guía del ejemplo del DNP recomiendan realizar un filtro de las actividades, #[strong determinando su viabilidad técnica, financiera o legal]. Luego de seleccionadas las actividades y teniendo en cuenta su compatibilidad se llega a las siguientes conclusiones:

      p.mb-3 #[strong 1.] Las actividades 1 y 2 se pueden fusionar.
      p.mb-3 #[strong 2.]  Las actividades 3 y 5 no son viables financiera y legalmente, en ese orden.
      p.mb-5 #[strong 3.] Que se generarían dos alternativas posibles: 

      .row.justify-content-center.mb-5
        .col-12.col-lg-6.mb-5 
          .tarjeta.tarjeta--neutro_03 
            h3.mb-2 Alternativa 1
            .hr-divider.my-3(style="background-color:#B4D7E9;")
            p.mb-0 Campañas e incentivos para clasificación, implementación de rutas selectivas y construcción y dotación de estación de aprovechamiento para residuos orgánicos e inorgánicos 
        .col-12.col-lg-6 
          .tarjeta.tarjeta--neutro_03 
            h3.mb-2 Actividad 2
            .hr-divider.my-3(style="background-color:#B4D7E9;")
            p.mb-0 Campañas e incentivos para clasificación, implementación de rutas selectivas y construcción de planta incineradora de residuos orgánicos para generación de energía.

      p.mb-5 #[strong 4.] Que asumiendo un resultado negativo de un estudio de prefactibilidad para la planta incineradora y después de configurar las posibles iteraciones (combinaciones posibles) de las actividades viables, se llega a los dos objetivos ya corregidos:

      .row.justify-content-center.mb-5
        .col-12.col-lg-6.mb-5
          .tarjeta.tarjeta--neutro_03.full--height
            h3.mb-2 Objetivo 1            
            .hr-divider.my-3(style="background-color:#B4D7E9;")
            p.mb-0 Campañas, incentivos e implementación de rutas selectivas.
        .col-12.col-lg-6
          .tarjeta.tarjeta--neutro_03.full--height
            h3.mb-2 Objetivo 2
            .hr-divider.my-3(style="background-color:#B4D7E9;")
            p.mb-0 Construcción y dotación de estación de aprovechamiento para residuos orgánicos e inorgánicos con altas tasas de biodegradación.

      p.mb-5 #[strong 5.] Que por todo lo anterior, la alternativa (objetivo general) queda así:

      .row.justify-content-center.mb-5        
        .col-12 
          .tarjeta.tarjeta--neutro_03.full--height
            h3.mb-2 Alternativa
            .hr-divider.my-3(style="background-color:#B4D7E9;")
            p.mb-0 Implementación del proceso de aprovechamiento de residuos sólidos domiciliarios mediante separación de materiales y construcción de una estación de vaporización.

      p.mb-5 Como aclaración, aunque la situación ideal parece que conlleva la atención a todas y cada una de las causas identificadas, esto no es estrictamente necesario (DNP, 2016). También es importante tener en cuenta la forma correcta de redactar objetivos siguiendo la regla general:

      .row.justify-content-center.align-items-center.mb-5
        .col-auto
          .tarjeta.tarjeta--borde
            .row.justify-content-center.align-items-center 
              .col-12.col-md-auto 
                .tarjeta(style="background-color:#FFF2DF; padding:1rem 2rem;")
                  p.text-center.mb-0 Verbo (infinitivo)
              .col-12.col-md-auto            
                  p.text-center(style="font-size:19pt").mb-0 #[strong +]
              .col-12.col-md-auto
                .tarjeta(style="background-color:#FFF2DF; padding:1rem 2rem;")
                  p.text-center.mb-0 Objeto
              .col-12.col-md-auto            
                  p.text-center(style="font-size:19pt").mb-0 #[strong +]
              .col-12.col-md-auto 
                .tarjeta(style="background-color:#FFF2DF; padding:1rem 2rem;")
                  p.text-center.mb-0 Condición

      .tarjeta.tarjeta--neutro_02.mb-5 
        .row.justify-content-center.align-items-center 
          .col-auto 
            img(src="assets/images/pages/tema_3/icon_3_1_04.svg", alt="",style="width:90px;")
          .col-lg
            p.mb-0 No siempre la selección de alternativas resulta de la manera que se ha descrito, algunas veces es más difícil identificar entre las diferentes opciones, por lo que se recomienda en este caso, la construcción de un matriz que ayude en esta evaluación; aunque no hay una forma estándar para esta y podemos encontrar varios modelos que se pueden adaptar a las necesidades del análisis buscando siempre #[strong la alternativa óptima, una selección objetiva y desde criterios múltiples]. 

      p.mb-5 Un ejemplo de matriz de evaluación o selección, producto de la guía para la formulación de proyectos de la FAO en conjunto con el Ministerio de Desarrollo Agropecuario de Panamá en 2017, es el siguiente:

      h3.text-center.mb-5 Matriz de selección de alternativa óptima

      .overflow-X.mb-3
        table.tabla(style="width:1050px")
          thead.tabla--borde.column-text--center 
            tr
              th(rowspan='2')
                | Criterios (que debe definir el equipo formulador)
              th(rowspan='2') Peso específico asignado al criterio (1-5)
              th(colspan='2') Alernativa 1
              th(colspan='2') Alernativa 2
              th(colspan='2') Alernativa 3
            tr
              td Calificación 1-5
              td Puntaje obtenido
              td Calificación 1-5
              td Puntaje obtenido
              td Calificación 1-5
              td Puntaje obtenido
          tbody.tabla-cuerpo
            tr.column-text--center 
              td Menor tiempo
              td 3
              td 3
              td 9
              td 1
              td 3
              td 2
              td 6
            tr.column-text--center 
              td Menor costo
              td 2
              td 3
              td 6
              td 3
              td 6
              td 1
              td 2
            tr.column-text--center 
              td Concentración sobre beneficios
              td 5
              td 5
              td 25
              td 4
              td 20
              td 3
              td 15
            tr.column-text--center 
              td Impacto de género
              td 4
              td 1
              td 4
              td 2
              td 8
              td 5
              td 20
            tr.column-text--center 
              td Impacto ambiental
              td 4
              td 5
              td 20
              td 5
              td 20
              td 1
              td 4
            tr.column-text--center 
              td Riesgos socioeconómicos
              td 3
              td 2
              td 6
              td 5
              td 15
              td 3
              td 9
            tr.column-text--center 
              td Viabilidad
              td 5
              td 3
              td 15
              td 4
              td 20
              td 3
              td 15
            tr.column-text--center 
              td TOTAL
              td
              td
              td 85
              td
              td 92
              td
              td 71

      p.text-center.mb-5 #[i Fuente. Guía para la formulación de proyectos de inversión del sector agropecuario de la FAO, 2017.]

      .hr-divider.my-5

      .row
        .col-12.mb-4#tema_3_2
          h2(style="color:#00838F") 3.2 Matriz de marco lógico

      p.mb-5 En este punto ya se tienen todos los insumos para el inicio de la construcción de la matriz de marco lógico (MML). Según la FAO en 2017, el marco lógico es una matriz de doble entrada que posee dos momentos: la relación de causa-efecto, que ayuda a organizar la información de manera lógica y secuencial en sentido vertical y la estructura cuatro por cuatro que completa el esquema agregándole el sentido horizontal. 

      .overflow-X.mb-3 
        table.tabla(style="width:1050px;")
          thead.tabla-encabezado
            tr
              th &Aacute;rbol de problemas
              th &Aacute;rbol de objetivos
              th Matriz de marco l&oacute;gico
          tbody.tabla-cuerpo
            tr
              td Problema central
              td Prop&oacute;sito
              td Objetivo general o &quot;fin&quot; del proyecto
            tr
              td Causas nivel 1
              td Medios
              td Objetivos espec&iacute;ficos
            tr
              td Causas nivel 2
              td Productos
              td Componentes
            tr
              td Causas nivel 3
              td Actividades
              td Actividades

      p.mb-5.text-center #[i Fuente. Guía para la formulación de proyectos de inversión del sector agropecuario de la FAO, 2017.]

      .hr-divider.my-5

      .row.justify-content-center.align-items-center.mb-5 
        .col-12.col-lg.order-last.order-lg-first
          p.mb-0 Cabe recordar que para pasar del árbol de problemas al árbol de objetivos se cambió de un estado negativo del problema a una situación positiva como propósito para luego plantearse como el fin del proyecto o la acción que conduce a esa situación deseada del árbol de objetivos. De acuerdo con Ortegón et.al (2005):
        .col-auto.order-first.order-lg-last.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_3/icon_3_06.svg", alt="", style="width:90px")

      .tarjeta.tarjeta--neutro_03.tarjeta--citaHorizontal.mb-5
        p “En la definición de los niveles de objetivos en la MML se debe tener especial cuidado al pasar de la especificación de los componentes al propósito del proyecto. La definición del propósito del proyecto se debe hacer en términos hipotéticos, es algo que debe ocurrir, es un resultado esperado. De acuerdo al enfoque de Marco lógico el propósito es la hipótesis central del proyecto. De este modo, el propósito debe entenderse como un resultado no controlable por el ejecutor. Es, en definitiva, lo que debería ocurrir como resultado directo de utilizar los Componentes” (p.81). 

      p.mb-5 Para estructurar la MML, según la guía de formulación de proyectos de inversión del sector agropecuario de la FAO en 2017, se pueden seguir los siguientes pasos:

      .row.justify-content-center.mb-5        
        .col-12 
          .tarjeta.tarjeta--neutro_03.full--height
            h3.mb-2 Primer momento
            .hr-divider.my-3(style="background-color:#B4D7E9;")
            p.mb-0 “la relación causa-efecto entre las diferentes partes de la primer columna (ver esquema de la MML) corresponde a los cuatro niveles (o filas) de la estructura, de abajo hacia arriba: 1) actividades (o insumos), 2) componentes (o resultados), 3) propósito y 4) meta o fin, estando estos dos últimos definidos por la jerarquía de objetivos del proyecto, o sea, objetivo central y objetivos secundarios” (p.16).
      
      .row.justify-content-center.mb-5        
        .col-12 
          .tarjeta.tarjeta--neutro_03.full--height
            h3.mb-2 Segundo momento
            .hr-divider.my-3(style="background-color:#B4D7E9;")
            p.mb-0 “el formato cuatro por cuatro, que permite a los equipos de proyecto resaltar gráficamente los objetivos, los resultados y las actividades que se espera generar dentro del ciclo de vida del proyecto. Las 16 celdas que conforman la matriz del marco lógico se encuentran dinámicamente relacionadas por una lógica vertical y horizontal o de causa-efecto; por lo tanto, los cambios que se efectúen en una celda normalmente ocasionarán cambios en el resto de las celdas” (p.17). 

      .overflow-X
        table.tabla(style="width:1050px;")
          thead.tabla-encabezado
            tr
              th Objetivos
              th Indicadores
              th Medios de verificaci&oacute;n
              th Supuestos
          tbody.tabla-cuerpo
            tr
              td Fin (objetivo general)
              td
              td
              td
            tr
              td Prop&oacute;sito (objetivo espec&iacute;fico)
              td
              td
              td
            tr
              td Componentes (resultados)
              td
              td
              td
            tr
              td Actividades (acciones)
              td
              td
              td

      p.text-center.mb-5 #[i Guía para la formulación de proyectos de inversión del sector agropecuario de la FAO, 2017.]

      .hr-divider.my-5 

      h2 Resumen narrativo del marco lógico
      p.mb-5 La primera columna de la MML es la síntesis del proyecto, empezando por las actividades, los productos que se entregarán y los resultados a corto, mediano y largo plazo (Ortegón et.al, 2005). De ahí su importancia y la forma de realizar su lectura, que es de abajo hacia arriba. Las actividades provenientes del nivel tres no se encuentran normalmente incluidas en la MML, pero resulta muy útil considerarlas para alimentar la planeación operativa y los indicadores correspondientes serán objeto de este análisis posterior. El resumen narrativo corresponde a la primera columna de la matriz.

      .row.justify-content-center.mb-5
        .col-12.col-lg-6.mb-5
          .tarjeta.tarjeta--neutro_03
            h3.mb-2 Fin - Objetivo General           
            .hr-divider.my-3(style="background-color:#B4D7E9;")
            p.mb-0 Aporte del proyecto en la solución, problema o satisfacción de una necesidad en el mediano o largo plazo.
        .col-12.col-lg-6.mb-5
          .tarjeta.tarjeta--neutro_03.full--height
            h3.mb-2 Propósito - Objetivo Específico
            .hr-divider.my-3(style="background-color:#B4D7E9;")
            p.mb-0 Resultado único esperado al concluir el proyecto.      
        .col-12.col-lg-6.mb-5
          .tarjeta.tarjeta--neutro_03
            h3.mb-2 Resultados esperados - Componentes
            .hr-divider.my-3(style="background-color:#B4D7E9;")
            p.mb-0 Productos y servicios que genera el proyecto y que se expresan como una realidad mejorada.
        .col-12.col-lg-6
          .tarjeta.tarjeta--neutro_03
            h3.mb-2 Actividades
            .hr-divider.my-3(style="background-color:#B4D7E9;")
            p.mb-0 Grupo de tareas principales requeridas para la producción de cada resultado o componente.

      .hr-divider.my-5
      .row
        .col-12.mb-4#tema_3_3
          h2(style="color:#00838F") 3.3 Indicadores y medios de verificación

      p.texto--resaltado.mb-5 Los indicadores conforman la segunda columna de la MML. 

      .tarjeta.tarjeta--borde.mb-5
        .row.justify-content-center.align-items-center 
          .col-auto.mb-5.mb-lg-0 
            img(src="assets/images/pages/tema_3/icon_3_3_01.svg", alt="", style="width:90px")
          .col-12.col-lg
            p.mb-0 Son variables cualitativas o cuantitativas que concretan lo definido en el resumen narrativo del proyecto en cada uno de los niveles y dan cuenta de las metas a las que hay que llegar para culminar con éxito, por lo que se convierten en la brújula con la cual se orientan las actividades de gestión, el seguimiento y la evaluación. 

      .row.mb-5
        .col-12.col-lg-6.mb-4 
          p.mb-0 También dan medida del desempeño y alertan sobre situaciones atípicas. Si los indicadores se encuentran bien formulados, aseguran una buena gestión del proyecto y aportan los elementos necesarios para la toma correcta de decisiones gerenciales que seguramente serán necesarias en el transcurso de la ejecución. 
        .col-12.col-lg-6.mb-4 
          p.mb-0 Un resultado puede ser medido por varios indicadores, pero el principio de eficiencia nos orienta hacia la construcción del mínimo necesario para la conclusión del logro de los objetivos (Ortegón et.al 2005).

      p.mb-5 Los indicadores deben poseer ciertas características para que logren eficacia. Para empezar, según la guía para la formulación de proyectos de inversión del sector agropecuario (FAO, 2017) deben ser independientes en cada nivel para evitar la duplicidad de datos. Sólo se formulan para el cumplimiento de objetivos y resultados; a las actividades se les asigna la ejecución de un presupuesto a manera de indicador. Según Ortegón et.al (2005) los indicadores “inteligentes” poseen cinco características imprescindibles: son específicos, medibles, realizables, pertinentes y deben estar enmarcados en el tiempo. Existen diversos tipo de indicadores pero una clasificación útil es la hecha en la guía de la FAO varias veces citada: 

      #Acordion_3_01.accordion.mb-5
        .card
          #Acordion_3_01--H01.card-header
            h2.mb-0
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#Acordion_3_01--C01', aria-expanded='true', aria-controls='Acordion_3_01--C01')
                h3.mb-0.collapsable-title Indicadores de fin y propósito
          #Acordion_3_01--C01.collapse.show(aria-labelledby='Acordion_3_01--H01', data-parent='#Acordion_3_01')
            .card-body(style="background-color:#eaf6fc; padding-top:2rem; padding-bottom:2rem;")
              p.mb-0 Son los que miden el cambio atribuible al proyecto y los que permiten tomar decisiones sobre la necesidad de componentes adicionales. También se denominan indicadores de objetivos. Los indicadores de fin o propósito se construyen sobre la base de datos existentes. Un ejemplo de indicador de fin y de propósito sería reducir a menos de 1.000 los coliformes totales por cada 100 ml de agua en una playa específica y para un determinado año. 
                        
        .card
          #Acordion_3_01--H02.card-header
            h2.mb-0
              button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#Acordion_3_01--C02', aria-expanded='false', aria-controls='Acordion_3_01--C02')
                h3.mb-0.collapsable-title Indicadores de componentes
          #Acordion_3_01--C02.collapse(aria-labelledby='Acordion_3_01--H02', data-parent='#Acordion_3_01')
            .card-body(style="background-color:#eaf6fc; padding-top:2rem; padding-bottom:2rem;")
              p.mb-0 Son descripciones breves de las obras, servicios, estudios y capacitaciones específicas que ofrece el responsable del proyecto, especificando cantidad, calidad y tiempo. Por ejemplo para un proyecto de educación habría de señalar como indicador 10 escuelas técnicas, ubicadas en diferentes ciudades, cada una con capacidad para 1.000 alumnos por año y con el equipamiento especificado por las normas correspondientes. 

        .card
          #Acordion_3_01--H03.card-header
            h2.mb-0
              button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#Acordion_3_01--C03', aria-expanded='false', aria-controls='Acordion_3_01--C03')
                h3.mb-0.collapsable-title Indicadores de actividades
          #Acordion_3_01--C03.collapse(aria-labelledby='Acordion_3_01--H03', data-parent='#Acordion_3_01')
            .card-body(style="background-color:#eaf6fc; padding-top:2rem; padding-bottom:2rem;")
              p.mb-4 Son los que describen la actividad que se realiza para lograr el componente y su presupuesto asignado. Varían de acuerdo con el elemento del componente que se desea medir, por lo que son diferentes para cada tipo de proyecto. Los indicadores también pueden clasificarse en directos e indirectos.               
              p.mb-4 #[strong a. Indicadores directos:] son los que comprenden las variables directamente relacionadas al objetivo a medir. Por ejemplo, si el objetivo es reducir la mortalidad, un indicador apropiado podría ser la tasa de mortalidad infantil en tanto por mil. 
              p.mb-0 #[strong b. Indicadores indirectos:] también llamados indicadores proxy, son formas aproximadas de medir determinados objetivos. En ellos la variable utilizada no tiene una relación directa con el objetivo que se busca medir” (FAO, 2017).

      p.mb-5 Así mismo esta valiosa guía nos orienta acerca del procedimiento de selección de indicadores:

      .tarjeta.tarjeta--neutro_03.mb-5 
        p.mb-5 “Un aspecto a tener en cuenta sobre los indicadores es su número reducido. Esto hace necesario definir criterios para decidir si un indicador es adecuado o no y jerarquizar un conjunto de indicadores. Para ello se utiliza el esquema desarrollado por la #[strong Oficina de Evaluación del Programa de Desarrollo de Naciones Unidas (UNDP, por sus siglas en inglés)] que consiste en un cuadro en el cual, primero, se transcribe la primera columna de la matriz del marco lógico a la primera columna del cuadro (el resumen narrativo de objetivos) después se transcriben de la misma matriz los indicadores por objetivo y por último se definen los criterios aplicables a los indicadores, como: 
        .row
          .col-12.mb-5 
            .tarjeta.d-inlineBlock
              .row.align-items-center
                .col-auto 
                  p.mb-0 #[span(style="font-size:20pt; font-weight:800;  position:relative;") A]
                .col
                  p.mb-0 El sentido del indicador es claro.
          .col-12.mb-5 
            .tarjeta.d-inlineBlock
              .row.align-items-center
                .col-auto 
                  p.mb-0 #[span(style="font-size:20pt; font-weight:800;  position:relative;") B]
                .col
                  p.mb-0 Existe información disponible o se puede recolectar fácilmente.              
          .col-12.mb-5 
            .tarjeta.d-inlineBlock
              .row.align-items-center
                .col-auto 
                  p.mb-0 #[span(style="font-size:20pt; font-weight:800;  position:relative;") C]
                .col
                  p.mb-0 El indicador es tangible y observable.
               
          .col-12.mb-5 
            .tarjeta.d-inlineBlock
              .row.align-items-center
                .col-auto 
                  p.mb-0 #[span(style="font-size:20pt; font-weight:800;  position:relative;") D]
                .col
                  p.mb-0 La recolección de datos está al alcance de la dirección del proyecto y su análisis no requiere de expertos.
          
          .col-12 
            .tarjeta.d-inlineBlock
              .row.align-items-center
                .col-auto 
                  p.mb-0 #[span(style="font-size:20pt; font-weight:800;  position:relative;") E]
                .col
                  p.mb-0 El indicador es suficientemente representativo para el conjunto de resultados esperados. 


      p.mb-5 Un criterio adicional a contemplar es que los indicadores sean independientes, es decir, que no exista una relación de causa efecto entre el indicador y el objetivo que se evalúa. Los indicadores seleccionados se clasifican en la tercera columna del cuadro, asignando un valor 1 a cada uno de los criterios que se cumplan. Así, un indicador que reúna todos los requisitos mencionados anteriormente alcanzaría cinco puntos en esta escala de clasificación. Finalmente, en la última columna se seleccionan los indicadores que han obtenido mayor puntuación, que serán los que se incluirán en la matriz del marco lógico.

      p.mb-5 Otra propuesta de ortegón et.al (2005) para los criterios de selección de indicadores “correctamente especificados” es hecha a partir de los siguientes criterios:

      .row.justify-content-center.mb-5 
        .col-11.col-lg-10.mb-4
          .tarjeta.tarjeta--iconoIzquierda.tarjeta--neutro_01
            .tarjeta__icono
              img(src="assets/images/pages/tema_3/icon_bulb.svg", alt="") 
            .tarjeta__texto               
              p.mb-0 Los indicadores de propósito no son un resumen de los componentes, sino una medida del resultado de tener los componentes en operación.
        .col-11.col-lg-10.mb-4
          .tarjeta.tarjeta--iconoIzquierda.tarjeta--neutro_01
            .tarjeta__icono
              img(src="assets/images/pages/tema_3/icon_bulb.svg", alt="") 
            .tarjeta__texto               
              p.mb-0 Los indicadores de propósito midan lo que es importante.
        .col-11.col-lg-10.mb-4
          .tarjeta.tarjeta--iconoIzquierda.tarjeta--neutro_01
            .tarjeta__icono
              img(src="assets/images/pages/tema_3/icon_bulb.svg", alt="") 
            .tarjeta__texto               
              p.mb-0 Todos los indicadores están especificados en términos de cantidad, calidad y tiempo.
        .col-11.col-lg-10.mb-4
          .tarjeta.tarjeta--iconoIzquierda.tarjeta--neutro_01
            .tarjeta__icono
              img(src="assets/images/pages/tema_3/icon_bulb.svg", alt="") 
            .tarjeta__texto               
              p.mb-0 Los indicadores para cada nivel de objetivo son diferentes a los indicadores de otros niveles.
        .col-11.col-lg-10.mb-4
          .tarjeta.tarjeta--iconoIzquierda.tarjeta--neutro_01
            .tarjeta__icono
              img(src="assets/images/pages/tema_3/icon_bulb.svg", alt="") 
            .tarjeta__texto               
              p.mb-0 El presupuesto es suficiente para llevar a cabo las actividades identificadas.

      p.mb-5 Los criterios se pueden construir a partir de la selección y suma de varios de los anteriores, según se considere pertinente para la evaluación objetiva de los objetivos del proyecto.

      h3.text-center.mb-4 Herramientas de selección de indicadores
      .overflow-X
        table.tabla(style="widht:1200px")
          thead.tabla-encabezado
            tr
              th Nivel
              th Resumen narrativo
              th Indicadores
              th(colspan='8') Criterios de&nbsp;&nbsp;&nbsp;valoraci&oacute;n de indicadores
              th Puntaje total
              th Selecci&oacute;n
          tbody.tabla-cuerpo
            tr
              td Fin
              td
              td
              td A
              td B
              td C
              td D
              td E
              td F
              td G
              td H
              td
              td
            tr
              td Prop&oacute;sito
              td
              td
              td
              td
              td
              td
              td
              td
              td
              td
              td
              td
            tr
              td Componentes
              td
              td
              td
              td
              td
              td
              td
              td
              td
              td
              td
              td
            tr
              td Actividades
              td
              td
              td
              td
              td
              td
              td
              td
              td
              td
              td
              td

      p.text-center.mt-3.mb-5 #[i Fuente. Guía para la formulación de proyectos de inversión del sector agropecuario de la FAO, 2017.]

      p.mb-5 Para la determinación de los medios de verificación la misma guía nos indica que es necesario identificar y definir las fuentes de información, las herramientas y los métodos usados para comprobar el estado de progreso del proyecto, siendo esta columna el fundamento del sistema de monitoreo y evaluación del proyecto. Al igual que para los indicadores en la MML no se ubican los medios de verificación para las actividades, solo para los objetivos y resultados: aquí se deben especificar la ubicación de las fuentes de información de ejecución del presupuesto asignado, para efectuar el respectivo monitoreo. Por otro lado, cada indicador debe tener al menos una fuente de verificación y estas deben ser pertinentes, fiables y accesibles. Se debe realizar, además, una planeación de la recolección de datos.

      .hr-divider.my-5
      .row
        .col-12.mb-4#tema_3_4
          h2(style="color:#00838F") 3.4 Análisis de riesgos y establecimiento de los supuestos del proyecto

      p.mb-5 Los análisis de riesgos, al igual que algunos análisis hechos en esta guía anteriormente, permiten a través de análisis cuantitativos, medir aspectos cualitativos al asignar valores discrecionales en un rango determinado; un ejemplo de una escala usada frecuentemente es 1=Muy bajo; 2=bajo; 3=moderado; 4=alto; 5=muy alto. En el caso de los riesgos se hace referencia a la evaluación de situaciones que potencialmente pueden desviar o debilitar los resultados esperados, con el objetivo de prevenir o mitigar sus efectos. Un ejemplo sencillo de análisis de riesgos puede ser el de una matriz que enfrente las amenazas posibles (factores externos que pueden afectar el desarrollo del proyecto en cualquiera de sus fases) con la probabilidad estimada de la ocurrencia de un evento y la severidad (gravedad de las consecuencias) de su ocurrencia. Estas amenazas pueden ser las contempladas en un #[strong análisis FODA].

      h3.text-center.mb-4 Ejemplo de análisis de riesgos

      .overflow-X
        table.tabla(style="width:1050px")
          thead.tabla-encabezado
            tr
              th Tipo 
              th Riesgo
              th Probabilidad de ocurrencia 
              th Gravedad del impacto 
              th Valor del Riesgo 
              th Nivel de Riesgo 
          tbody.tabla-cuerpo
            tr
              td Clim&aacute;tico
              td
                | Prolongaci&oacute;n de las &eacute;pocas de lluvias m&aacute;s all&aacute; de la tercera semana de inicio del ciclo productivo y efecto de las heladas en las primeras cinco semanas.
              td.text-center 3
              td.text-center 4
              td.text-center 20
              td Cr&iacute;tico

      p.mb-4 #[strong Tipo] (Físico, ergonómico, logístico, biológico, químico, psicosocial, climático, político, legal, logístico, etc.)
      p.mb-4 #[strong Riesgo] (Descripción)
      p.mb-4 #[strong Probabilidad de ocurrencia] (Rango de 1 a 5, donde: 1:muy baja; 2:baja; 3:media; 4:alta; 5:muy alta)
      p.mb-4 #[strong Gravedad del impacto] (Rango de 1 a 5, donde: 1:despreciable; 2:considerable; 3:importante; 4:grave; 5:catastrófica)
      p.mb-4 #[strong Valor del Riesgo] (Probabilidad x gravedad)
      p.mb-4 #[strong Nivel de Riesgo] (Ubicar en la matriz de riesgos)

      .hr-divider.my-5

      h3.text-center.mb-4 Ejemplo de análisis de riesgos

      .row.justify-content-center.mb-5 
        .col-12.mb-3 
          img(src="assets/images/pages/tema_3/img_3_4_01.png", alt="", style="width:100%, max-width:650px; display:block; margin:0 auto;")
        .col-12 
          p.text-center #[i Fuente. Modelo de matriz de evaluación de riesgos. Adaptación de Bernal (2021)]

      p.mb-4 El anterior análisis de riesgos contempla lo que no debe ocurrir para que el proyecto se desarrolle como se ha planeado. En el caso de los supuestos se establecen las condiciones y requisitos para que se puedan realizar las actividades, lograr los objetivos y cumplir finalmente con el propósito del proyecto. Es por estas razones que este análisis se hace posteriormente a la definición de los indicadores y el desglose de las actividades. Es importante tener en cuenta de acuerdo con Ortegón et. al (2005) la forma en que se redactan los supuestos que corresponde a la de un objetivo a alcanzar o mantener por parte de quien fuere necesario a pesar de que estos estén fuera del alcance del ejecutor del proyecto. Ejemplo:

      .tarjeta.tarjeta--neutro_03.tarjeta--citaHorizontal.mb-5
        p “los precios agrícolas mantienen sus niveles (dentro de una banda de + 10%) en términos reales” (p.89).  

      p.mb-5 Así mismo, para completar la columna de supuestos de la MML, se recomienda seguir los siguientes pasos: identificar todos los supuestos posibles para cada riesgo identificado en el análisis respectivo, realizando luego una selección de los que se consideren verdaderos riesgos a enfrentar y finalmente de acuerdo a los resultados del análisis de riesgos, establecer las acciones de prevención, mitigación o control para cada factor seleccionado. 

      h2 Comprobación lógica de la MML
      p.mb-5 finalmente para efectos de la comprobación de la lógica de la MML, se debe revisar la coherencia de los vínculos causales de abajo hacia arriba de la matriz (actividades-componentes-objetivos-fin) esto es la lógica vertical, con al menos tres criterios que rezan como sigue:

      ul.fa-ul
        li.bullet.mb-4 #[span.fa-li #[i(class="fa fa-chevron-circle-right")]] Se indican claramente el fin, propósito, componentes y actividades del proyecto.
        li.bullet.mb-4 #[span.fa-li #[i(class="fa fa-chevron-circle-right")]] Si se llevan a cabo las actividades y los supuestos de este nivel se ratifican, se obtendrán los componentes.
        li.bullet.mb-4 #[span.fa-li #[i(class="fa fa-chevron-circle-right")]] Cada componente es necesario para lograr el propósito del proyecto y además no falta ningún componente necesario.
        li.bullet.mb-4 #[span.fa-li #[i(class="fa fa-chevron-circle-right")]] Si se producen los componentes y los supuestos a este nivel se conforman, se logrará el propósito de la intervención
        li.bullet.mb-4 #[span.fa-li #[i(class="fa fa-chevron-circle-right")]] Si se logra el propósito y se conforman los supuestos a este nivel, se habrá contribuido de manera significativa a alcanzar el fin.

      p.mb-5 El conjunto objetivo–indicadores-medios de verificación define lo que se conoce como lógica horizontal en la matriz de marco lógico. Esta puede comprobarse en su lógica a través de los siguientes aspectos:

      .row.justify-content-center.mb-5 
        .col-11.col-lg-10.mb-4
          .tarjeta.tarjeta--iconoIzquierda.tarjeta--neutro_01
            .tarjeta__icono
              img(src="assets/images/pages/tema_3/icon_3_4_01.svg", alt="") 
            .tarjeta__texto   
              h2.mb-2 01             
              p.mb-0 Los medios de verificación identificados son los necesarios y suficientes para obtener los datos requeridos para el cálculo de los indicadores.
        .col-11.col-lg-10.mb-4
          .tarjeta.tarjeta--iconoIzquierda.tarjeta--neutro_01
            .tarjeta__icono
              img(src="assets/images/pages/tema_3/icon_3_4_02.svg", alt="") 
            .tarjeta__texto   
              h2.mb-2 02             
              p.mb-0 Los indicadores definidos permiten hacer un buen seguimiento del proyecto y evaluar adecuadamente el logro de los objetivos.

      p.mb-5 #[strong La gráfica que sigue nos enseña la forma de lectura global de la MML], la relación entre las distintas partes que componen la matriz y cómo en una sola herramienta se logra visualizar de manera general todo un proyecto, sin duda uno de los aspectos positivos de la metodología. 

      .row.justify-content-center.mb-5 
        .col-12.mb-5
          img(src="assets/images/pages/tema_3/info_3_4_01.svg", alt="", style="width:100%, max-width:650px; display:block; margin:0 auto;")
        .col-12 
          p.text-center #[i Referencia. Cartilla resumen marco lógico para formulación de proyectos (SENA, 2020).]

      .tarjeta.tarjeta--neutro_01.mb-5
        .row.justify-content-end.align-items-center 
          .col-12.col-lg.mb-4.mb-lg-0    
            h2.mb-2(style="color:#7f8807") Anexo                              
            p.mb-0(style="font-size:12pt") Para la comprensión global de la MML, se puede revisar la matriz completa con la correspondiente explicación de cada apartado en el siguiente recurso. 
          .col-auto 
            a(href="media/documentos/Matriz_Marco_Logico.pdf", target="_blank").boton #[span Descargar] #[i(class="fa fa-arrow-down")] 


      .hr-divider.my-5
      .row
        .col-12.mb-4#tema_3_5
          h2(style="color:#00838F") 3.5 Plan operativo y presupuesto general
      
      p.mb-5 Una vez comprobados y validados los resultados de la aplicación de la metodología del EML en el documento final, el siguiente paso para poder dar inicio a la ejecución, consiste en tomar todas las actividades y realizar una planeación exhaustiva asignando recursos, materiales, responsables, tiempos de ejecución y demás información necesaria que de manera anticipada sea útil para la correcta ejecución del proyecto; además, el presupuesto deberá estar detallado en otro documento que contendrá toda la información del manejo y seguimiento a la ejecución del mismo. 

      .tarjeta.tarjeta--neutro_03
        p.mb-0 Estos procedimientos se pueden abordar desde documentos y bibliografía específica de los temas de ejecución, administración y dirección de proyectos y por otro lado del control de costos y finanzas aplicado a proyectos. 


      